<div class="page-container">
  <mat-card>
    <section class="header">
      <h1>Cyber Security Resources</h1>
      <div class="header-text">
        <p>Keeping your impact investing data safe</p>
      </div>
    </section>
    <div class="container">
      <section id="col-1">
        <article>
          <header>
            <h2>Item 1</h2>
            <h3><strong>sub-item</strong></h3>
            <p>
              <a
                href="https://medimap.ca/Clinics/Walk-In-Clinics/NS/Halifax?page=1"
                >Link</a
              >
            </p>
          </header>
        </article>
        <article>
          <header>
            <h2>Item 2</h2>
            <h3><strong>sub-item</strong></h3>
            <p>
              <a
                href="https://medimap.ca/Clinics/Walk-In-Clinics/NS/Halifax?page=1"
                >Link</a
              >
            </p>
          </header>
        </article>
      </section>
      <section id="col-2">
        <article>
          <header>
            <h2>Item 3</h2>
            <h3><strong>sub-item</strong></h3>
            <p>
              <a
                href="https://medimap.ca/Clinics/Walk-In-Clinics/NS/Halifax?page=1"
                >Link</a
              >
            </p>
          </header>
        </article>
        <article>
          <header>
            <h2>Item 4</h2>
            <h3><strong>sub-item</strong></h3>
            <p>
              <a
                href="https://medimap.ca/Clinics/Walk-In-Clinics/NS/Halifax?page=1"
                >Link</a
              >
            </p>
          </header>
        </article>
      </section>
      <section id="col-3">
        <article>
          <header>
            <h2>Hygitus Security</h2>
          </header>
          <p>TODO</p>
        </article>
      </section>
    </div>
  </mat-card>
</div>
