<div class="page-container">
  <mat-card>
    <section class="header">
      <h1>About Hygitus</h1>
      <div class="header-text">
        <p>TODO</p>
      </div>
    </section>
    <div class="container">
      <section id="col-1">
        <article>
          <header>
            <h2>Hygitus Offers</h2>
            <h3><strong>Impact Data</strong></h3>
            <p>TODO</p>
            <h3><strong>Networking</strong></h3>
            <p>TODO</p>
            <h3><strong>Knowledge Hub</strong></h3>
            <p>TODO</p>
            <h3><strong>Capital Raising</strong></h3>
            <p>TODO</p>
          </header>
        </article>
      </section>
      <section id="col-2">
        <article>
          <header>
            <h2>Coming Soon</h2>
            <h3><strong>Background Checking</strong></h3>
            <p>TODO</p>
            <h3><strong>e-Banking and e-Signing</strong></h3>
            <p>TODO</p>
          </header>
        </article>
      </section>
    </div>
  </mat-card>
</div>
