<div class="page-container">
  <mat-card>
    <section class="header">
      <img
        class="hygitus-logo"
        src="../../../assets/hygitus-logo-dark-sml.png"
      />
    </section>
    <div class="gods-container">
      <div class="hygieia">
        <h2>Hygiaia</h2>
        <div class="gods-content">
          <img src="../../../assets/hygitus-logo-snake.png" />
          <p>
            Hygieia is a goddess from Greek mythology, a goddess of health,
            cleanliness and hygiene.
          </p>
        </div>
      </div>
      <div class="plutus">
        <h2>Plutus</h2>
        <div class="gods-content">
          <img src="../../../assets/hygitus-logo-horn.png" />
          <p>
            Plutus is a god from Greek mythology, a god of abundance or wealth,
            the personification of “riches”.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <section id="col-1">
        <article>
          <header>
            <h2>Hygitus Offers</h2>
            <h3><strong>Impact Data</strong></h3>
            <p>
              The purpose of this feature is to use public data pertaining to
              the Canadian healthcare industry within to quantify how impactful
              investments have been or will potentially be in the future.
            </p>
            <h3><strong>Chat</strong></h3>
            <p>
              The purpose of the feature is to promote communication within the
              Canadian healthcare impact investing ecosystem, building
              relationships and sharing knowledge on the latest industry
              developments.
            </p>
            <h3><strong>Knowledge Hub</strong></h3>
            <p>
              The purpose of this feature is to provide a single point of truth
              for Canadian healthcare impact investing knowledge. Our XWiki
              instance offers veracious, up-to-date, and accessible data.
            </p>
            <h3><strong>Capital Raising</strong></h3>
            <p>
              The purpose of this feature is to support the activities involved
              in fundraising e.g., finding investors, sharing assets during
              their raise, and managing and tracking ongoing conversations and
              relationships.
            </p>
          </header>
        </article>
      </section>
      <section id="col-2">
        <article>
          <header>
            <h2>Coming Soon</h2>
            <h3><strong>Background Checking</strong></h3>
            <h3><strong>E-Contracts</strong></h3>
            <h3><strong>Banking</strong></h3>
          </header>
        </article>
      </section>
    </div>
  </mat-card>
</div>
