<div class="page-container">
  <mat-card class="container-card">
    <mat-grid-list cols="3" rowHeight="1.2:1">
      <mat-grid-tile>
        <a
          class="ripple-container mat-elevation-z4"
          matRipple
          matRippleColor="#FFFFFF55"
          routerLink="/impact-data"
        >
          <mat-card
            class="grid-card"
            style="background-image: url('../../../assets/impact-data.jpg')"
          >
            <mat-card-title-group>
              <mat-card-title>Impact Data</mat-card-title>
            </mat-card-title-group>
            <mat-card-content
              >The purpose of this feature is to use public data pertaining to
              the Canadian healthcare industry within to quantify how impactful
              investments have been or will potentially be in the future.
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>

      <mat-grid-tile>
        <a
          class="ripple-container mat-elevation-z4"
          matRipple
          matRippleColor="#FFFFFF55"
          routerLink="/capital-raising"
        >
          <mat-card
            class="grid-card"
            style="background-image: url('../../../assets/capital-raising.jpg')"
          >
            <mat-card-title-group>
              <mat-card-title>Capital Raising</mat-card-title>
            </mat-card-title-group>
            <mat-card-content
              >The purpose of this feature is to support the activities involved
              in fundraising e.g., finding investors, sharing assets during
              their raise, and managing and tracking ongoing conversations and
              relationships.
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>

      <mat-grid-tile>
        <a
          class="ripple-container mat-elevation-z4"
          matRipple
          matRippleColor="#FFFFFF55"
          href="https://hygitus.demo.xwiki.com/xwiki/bin/view/Main/#"
          target="_blank"
        >
          <mat-card
            class="grid-card"
            style="background-image: url('../../../assets/knowledge-hub.jpg')"
          >
            <mat-card-title-group>
              <mat-card-title>Knowledge Hub</mat-card-title>
            </mat-card-title-group>
            <mat-card-content
              >The purpose of this feature is to provide a single point of truth
              for Canadian healthcare impact investing knowledge. Our XWiki
              instance offers veracious, up-to-date, and accessible data.
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>

      <mat-grid-tile>
        <a
          class="ripple-container mat-elevation-z4"
          matRipple
          matRippleColor="#FFFFFF55"
          href="https://www.creditsafe.com/ca/en/credit-risk/credit-reports/company-credit-reports.html#"
          target="_blank"
        >
          <mat-card
            class="grid-card"
            style="
              background-image: url('../../../assets/background-checking.jpg');
            "
          >
            <mat-card-title-group>
              <mat-card-title>Background Checking</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>COMING SOON</mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>

      <mat-grid-tile>
        <a
          class="ripple-container mat-elevation-z4"
          matRipple
          matRippleColor="#FFFFFF55"
          href="https://contractbook.com/"
          target="_blank"
        >
          <mat-card
            class="grid-card"
            style="background-image: url('../../../assets/e-contracts.jpg')"
          >
            <mat-card-title-group>
              <mat-card-title>E-Contracts</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>COMING SOON</mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>

      <mat-grid-tile>
        <a
          class="ripple-container mat-elevation-z4"
          matRipple
          matRippleColor="#FFFFFF55"
          style="cursor: default"
        >
          <mat-card
            class="grid-card"
            style="background-image: url('../../../assets/banking.jpg')"
          >
            <mat-card-title-group>
              <mat-card-title>Banking</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>COMING SOON</mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>

      <!--
        Credit Rating
        Capital Raising
        Knowledge Hub
        E-Signatures
        E-Banking
      -->
    </mat-grid-list>
  </mat-card>
</div>
